BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=DOWN ;
LOCATE COMP "RS232_RXD" SITE "13" ;
LOCATE COMP "RS232_TXD" SITE "14" ;
LOCATE COMP "LED_7" SITE "107" ;
LOCATE COMP "LED_6" SITE "106" ;
LOCATE COMP "LED_5" SITE "105" ;
LOCATE COMP "LED_4" SITE "104" ;
LOCATE COMP "LED_3" SITE "100" ;
LOCATE COMP "LED_2" SITE "99" ;
LOCATE COMP "LED_1" SITE "98" ;
LOCATE COMP "LED_0" SITE "97" ;
LOCATE COMP "WIZ_MISO" SITE "5" ;
LOCATE COMP "WIZ_MOSI" SITE "10" ;
LOCATE COMP "WIZ_nSS" SITE "4" ;
LOCATE COMP "WIZ_SCLK" SITE "6" ;
LOCATE COMP "WIZ_nINT" SITE "2" ;
LOCATE COMP "WIZ_PWDN" SITE "1" ;
LOCATE COMP "WIZ_nRESET" SITE "3" ;
LOCATE COMP "SPI_CLK" SITE "44" ;
LOCATE COMP "SPI_MOSI" SITE "71" ;
LOCATE COMP "SPI_MISO" SITE "45" ;
LOCATE COMP "SPI_SCSN" SITE "70" ;
IOBUF PORT "RS232_TXD" PULLMODE=UP ;
IOBUF PORT "LED_7" PULLMODE=UP ;
IOBUF PORT "LED_6" PULLMODE=UP ;
IOBUF PORT "LED_5" PULLMODE=UP ;
IOBUF PORT "LED_4" PULLMODE=UP ;
IOBUF PORT "LED_3" PULLMODE=UP ;
IOBUF PORT "LED_2" PULLMODE=UP ;
IOBUF PORT "LED_1" PULLMODE=UP ;
IOBUF PORT "LED_0" PULLMODE=UP ;
IOBUF PORT "WIZ_nSS" PULLMODE=UP ;
IOBUF PORT "WIZ_nRESET" PULLMODE=UP ;
IOBUF PORT "WIZ_MOSI" PULLMODE=UP ;
IOBUF PORT "WIZ_SCLK" PULLMODE=UP ;
IOBUF PORT "WIZ_nINT" PULLMODE=UP ;
IOBUF PORT "WIZ_MISO" PULLMODE=UP ;
IOBUF PORT "RS232_RXD" PULLMODE=UP ;
IOBUF PORT "SPI_SCSN" PULLMODE=UP ;
